<p class="text-center footer">Blog powered by<a href='https://blog.getpelican.com/'> Pelican</a>, which takes great advantage of
    <a href='https://www.python.org/'>Python</a>.</p>
<p class="text-center footer">Theme <a href="https://github.com/ckp1701/pelican-uglyblue>">blueorange</a> by <a href='https://ckp1701.github.io/'>ckp1701</a></p>
<p class="text-center footer">2017</p>
<!--<img src="https://www.python.org/static/community_logos/python-powered-h-50x65.png" alt="" class="center-block">-->